

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #292d3e;
  color: white;
  font-size: 1rem; /* 1rem is equal to the base font size */
}

html {
  font-size: 16px; /* Define a base font size */
}

h1 {
  font-size: 2rem; /* 2 times the base font size */
}

p {
  font-size: 0.875rem; /* 0.875 times the base font size */
}

@media (max-width: 768px) {
  html {
    font-size: 14px; /* Decrease base font size for smaller screens */
  }
}

/* 1024, 768, 576 */

/* text:'#fff',
    mainBackground:"#292d3e",
    darkerBackground:"#1c1e2b",
    lightBlue:"#88ddff",
    gray:"#9fa5c5",
    purple:"#c490e6",
    yellow:"#dcb165",
    green:"#dcb165" */
/* basketball color: #ff8501 */

/* auth */

.spotify-button {
  border: none;
  outline: none;
  background-color: #00da5a;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px #77dca1;
  /* width:171px; */
}

.spotify-button:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px #77dca1;
}

.strava-button {
  border: none;
  outline: none;
  background-color: #fc4c02;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px #ee7e4f;
  /* width:171px; */
}

.strava-button:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px #ee7e4f;
}

.info {
  background-color: #ff8501;
  color: white;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .info {
    display: none;
  }
}
.login-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.basketball-rim-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 60%;
  max-width: 70%;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* profile */
.profile-header{
  display:flex;
  justify-content: space-between;
  padding-top:70px;
  flex-wrap: wrap;
}
.profile-img-container {
  width: 214px;
  height: 214px;
  background: url("../images/i.png"), #1c1e2b 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 214px;
  align-items: center;
}
.team-position-number{
  padding-left:40px;
  padding-top:15px;
}
.img-stats{
  display:flex;
  justify-content:center;
  flex-wrap: wrap;
}
.tpn {
  display: flex;
  justify-content: space-between;
  height: 33px;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 50px;
  padding-bottom: 30px;
}
.tpn p{
  margin-right: 20px;
}
.stats-container {
  width: 628px;
  border-radius: 20px;
  background: #1c1e2b;
  margin-top:30px;
  margin-bottom:30px;
  margin-left: 0px;
  margin-right: 0px;
}
@media screen and (max-width: 1400px) {
  .stats-container{
    width: 500px;
  }
}

@media screen and (max-width: 1200px) {
  .stats-container {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .img-stats{
    flex-wrap:nowrap;
  }
  .tpn p{
    margin-right: 10px;
  }
}

@media screen and (max-width: 576px) {
  .profile-header{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .team-position-number{
    padding-left:0;
  }
  .tpn{
    flex-wrap: wrap;
    height:auto
  }
  .tpn p{
    margin-right: 0px;
    margin-left:15px;
  }
  .img-stats{
    display: block;
    text-align: center;
    align-items: center;
  }
  .stats-container{
    margin:5px;
    margin-top:20px;
  }
}

.stats-name div {
  color: #fff;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.stats div {
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media screen and (max-width: 767px) {
  .stats div {
    font-size: 25px;
  }
}
@media screen and (max-width: 576px) {
  .stats-name div {
    font-size: .8rem;
  }
  .stats div {
    font-size: 1.2rem;
    font-weight: 800;
  }
}
.basic-player-info-label {
  color: rgba(234, 234, 234, 0.728);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.basic-player-info-numbers {
  color: white;
  font-size: 15px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}
.videos-grid {
  display: grid;
  gap: 1.2rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}
.video {
  aspect-ratio: 16/9;
  text-decoration: none;
}
.video__content {
  align-self: end;
  margin-top: 0.75rem;
}
.video__img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 10px;
  filter: brightness(80%);
}
.video__img:hover {
  filter: brightness(100%);
}
.video:hover {
  cursor: pointer;
}
.video__title {
  font-size:1rem;
  color: white;
  font-weight: 600;
  line-height: 20spx;
}
.stacked > * {
  display: grid;
  grid-row: 1/2;
}
/* navbar */

.navbar {
  background-color: #1c1e2b;
}
.a-label {
  display: none;
}
@media screen and (max-width: 992px) {
  .search-bar {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
  }
  .a-label {
    display: block;
  }
}
.dropdown-menu {
  right: 0;
  left: auto;
}
.tab-link {
  margin: 40px;
}
.sign-out {
  color: #fc4c02;
}
.highlight{
  margin-top:30px;
  display:grid;
  grid-template-columns:2fr 1fr;
}
.highlight__video{
  /* width:100%; */
  background-color: #00da5a;
  height:40rem;

}
.highlight__description{
  background-color: #fc4c02;
}

.profile-card{
  background-color: #1c1e2b;
  margin-top:50px;
  padding:30px;
  border-radius: 20px;
  /* margin:10px; */
  margin-top:50px;
}
.profile-card p{
  border-bottom: 1px solid #ff8501;
}
.biography__content{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.biography__label{
  color:#b2b2b2;
}

@media screen and (max-width:767px) {
  .biography__content{
    display: block;
  }
}
.description{
  line-height: 30px;
  /* color:#f0f8ff */
  color:white
}